<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src ="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <title>Document</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type='text/css' />
</head>
<body>
<header>
    <nav class="container container--70">
        <span th:include="admin/fragments/loggedOrNotLogged :: loggedOrNotLogged"></span>
        <span th:include="admin/fragments/header :: header"></span>
    </nav>
</header>
<section class="help" id="institutions">
    <h2>Zarządzaj administratorami</h2>
    <div class="help--slides active" data-id="1">
        <p>Poniżej znajduje się lista administratorów. Możesz dodać, usunąć bądź edytować istniejącego administratora.</p>
        <table style="color: black;text-align: left;width:100%;border: solid 1px; margin-bottom: 20px">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa użytkownika</th>
                <th>E-mail </th>
                <th>Operacja</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="admin: ${admins}">
                <td th:text="${admin.id}" ></td>
                <td th:text="${admin.username}" ></td>
                <td th:text="${admin.email}" ></td>
                <td><a th:href="@{/admin/adminslist/delete(id=${admin.id})}" class="btn" style="font-size: 12px;margin-right: 2px" id="remove">Usuń</a><a th:href="@{/admin/adminslist/edit(id=${admin.id})}" class="btn" style="font-size: 12px" id="edit">Edytuj</a></td>
            </tr>
            </tbody>
        </table>
        <div class="form-group form-group--buttons" style="margin-top: 10px;text-align: center; justify-content: center">
            <a th:href="@{/admin/adminslist/add}" class="btn">Dodaj administratora</a>
        </div>
    </div>
</section>

<footer th:include="fragments/footer :: footer">
</footer>
</body>
</html>