<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
</head>
<body>
<header>
    <nav class="container container--70">
        <span th:include="fragments/loggedOrNotLogged :: loggedOrNotLogged"></span>
        <span th:include="fragments/header :: header"></span>
    </nav>
</header>

<section class="help" id="institutions">
    <h2>Potwierdzenie otrzymania wiadomości</h2>
    <div class="help--slides active" data-id="1">
        <p>Na podany przez Ciebie adres e-mail została wysłana wiadomość potwierdzająca odbiór Twojego zapytania.</p>

        <div class="form-group form-group--buttons" style="margin-top: 10px;text-align: center; justify-content: center">
            <a th:href="@{/}" class="btn" id="goBack">Powrót do strony głównej</a>
        </div>
    </div>
</section>

<footer th:include="fragments/footer :: footer">
</footer>
</body>
</html>
