<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<header class="header--form-page">
    <nav class="container container--70">
        <ul class="nav--actions">
            <li class="logged-user">
                Witaj <span th:text="${userFirstName}"></span>
                <ul class="dropdown">
                    <li><a th:href="@{/myprofile}">Profil</a></li>
                    <li><a href="#">Moje zbiórki</a></li>
                    <li><a th:href="@{/logout}">Wyloguj</a></li>
                </ul>
            </li>
        </ul>
        <span th:include="fragments/header :: header"></span>
    </nav>
    <div class="slogan--steps">
        <div class="slogan--steps-title">Wystarczą 4 proste kroki:</div>
        <ul class="slogan--steps-boxes">
            <li>
                <div><em>1</em><span>Wybierz rzeczy</span></div>
            </li>
            <li>
                <div><em>2</em><span>Spakuj je w worki</span></div>
            </li>
            <li>
                <div><em>3</em><span>Wybierz fundację</span></div>
            </li>
            <li>
                <div><em>4</em><span>Zamów kuriera</span></div>
            </li>
        </ul>
    </div>
    </div>
    </div>
</header>
    <footer th:include="fragments/footer :: footer">
    </footer>
</body>
</html>
